@charset "utf-8";

.story-wrap {
  background: url(../img/story-bg.jpg) no-repeat center 0;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-bottom: 100px;
}

.story {
  display: flex;
  justify-content: center;
  color: #3e3e3e;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}
.story .inner {
  position: relative;
  margin: 185px 0 110px;
  padding: 0 61px;
  animation-name: rotate3d;
  animation-duration: 1s;
  background: url(../img/story-center.png) repeat-y 1px 0;
}

@keyframes rotate3d{
  from{
    opacity: 0;
    transform: rotateX(45deg); 
    transform-origin: 50% 50%;
  }
  to{
    opacity: 1;
    transform:rotateX(0) translateY(0) ;
    transform-style: preserve-3d;
  }
}
.story .inner::before {
  content: "";
  top: -185px;
  width: 665px;
  height: 185px;
  background: url(../img/story-up.png) no-repeat 0 0;
  display: block;
  position: absolute;
  left: 0;
}

.story .inner::after {
  content: "";
  bottom: -110px;
  width: 665px;
  height: 110px;
  background: url(../img/story-down.png) no-repeat 0 0;
  display: block;
  position: absolute;
  left: 0;
}



.story p {
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  color: #3e3e3e;
}
/* .story_footer{
  bottom: -200px;
} */
/* map------------------------- */
.map-wrap .content {
  background-size: cover;
}
.map-wrap {
  overflow: hidden;
  height: 100%;
  position: relative;
}


.map1 {
  background: url(../img/map-bg1.jpg) no-repeat center 0;
}

.map2 {
  padding: 200px 0 450px !important;
  background: url(../img/map-bg2.jpg) no-repeat center 0;
}

.map3 {
  padding: 200px 0 550px !important;
  background: url(../img/map-bg3.jpg) no-repeat center 0;
}

.map4 {
  padding: 200px 0 450px !important;
  background: url(../img/map-bg4.jpg) no-repeat center 0;
}



.pic-box {
  position: relative;
}

.pic-box img,
.modal-body img {
  width: 100%;
  /* object-fit: cover; */
}

.pic-modal {
  position: absolute;
  bottom: 16px;
  right: 17px;
  width: 54px;
  height: 54px;
  background: url(../img/biger.png) no-repeat top;
  cursor: pointer;
  border: none;
  background-size: 100% auto;
}

.pic-modal:hover {
  background-position-y: -54px;
}

.pic-caption {
  margin: 50px 0 0;
}

.pic-caption h3 {
  font-size: 20px;
  color: #292929;
  margin: 0 0 20px;
  font-weight: 700;
}

.pic-caption h3 span {
  margin-right: 9px;
  padding: 3px 8px 5px;
  background-color: #255ccc;
  font-weight: 400;
  color: #fff;
}

.pic-caption p {
  margin: 0;
  font-size: 16px;
}

/* .map_footer{
  bottom: -500px;
} */

.map-tit{
  position: relative;
  top: 10px;
  left: -80px;
  width: 100%;
  margin-bottom: 20px;
}

.map-subtit{
  position: relative;
  top: 10px;
  left: -80px;
  width: 150%;
}

@media (max-width:1024px){
  .story .inner {
    margin: 380px 0 263px;
}

  .tit-middle{
  display: none !important;
}
}

@media (max-width: 1200px) {
  .map-wrap .content {
    padding-top: 250px;
  }
  .story .inner{
    background-image: none;
  }
  .story .inner::before {
  display: none;
  }

  .story .inner::after {
    display: none;
    }

  .story-wrap {
    background: url(../img/store-bg-s.jpg) no-repeat center 0;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-bottom: 0px;
  }
}

@media (max-width: 991px) {
  .pic-box {
    margin: 20px 0 0;
  }

  .map-wrap .content {
    padding-top: 200px;
  }
}

@media (max-width: 768px) {
  .story-wrap .content {
    padding: 115px 0 160px;
}

.story .inner {
  margin: 200px 0 135px;
  }
  .map-tit {
    left: 0;
    width: 50%;
  }
.map-subtit{
left: 0;
}
  .story-wrap .content {
    padding: 400px 15px;
  }

  .story {
    width: 100%;
    height: 100%;
    background: transparent url(../images/story-bg.jpg) repeat-y 50% 0;
    background-size: 100% auto;
    line-height: 1.5;
  }

  .storyborder {
    position: relative;
  }

  .storyborder:before {
    content: '';
    position: absolute;
    background: transparent url(../images/story-top.png) no-repeat 0 0;
    background-size: 100% auto;
    height: 1.58rem;
    width: 100%;
    top: -1.46rem;
    left: 0;
  }

  .storyborder:after {
    content: '';
    position: absolute;
    background: transparent url(../images/story-bottom.png) no-repeat 0 0;
    background-size: 100% auto;
    height: 1.59rem;
    width: 100%;
    bottom: -1.58rem;
    left: 0;
  }
}

@media (max-width: 480px) {
  .story-wrap {
    background: url(../img/role_store-bg-s.jpg) no-repeat center 0;
    background-size: cover;
  }
  .story-wrap .content {
    padding:0 0 115px 0  ;
  }

  .map-wrap .content {
    padding: 90px 0 !important;
  }

  .pic-caption p,
  .story p {
    font-size: 14px;
  }

  .map1 {
    background-position: 40% 0;
  }

  .map2 {
    background-position: 7% 0;
  }
}

@media (max-width: 320px) {
  .story-wrap .content {
    padding:100px 10px 205px 10px  ;
}
  .story-wrap {
    background: url(../img/role_store-bg-s.jpg) no-repeat center 0;
    background-size: cover;
    position: relative;
  }
  .storyborder:before {
    top: -1.28rem;
  }
  .story .inner {
    position: relative;
    margin: 20px 0 20px;
    padding: 0px 22px;
    animation-duration: 1s;
    background: none;
  }
}
